Crims.UI.Web.Enroll/Service References/ChamsMailService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendmail1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmail1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendmail1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmailWithAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmailWithAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendmailWithAttachmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendmail1SoapIn">
    <wsdl:part name="parameters" element="tns:sendmail1" />
  </wsdl:message>
  <wsdl:message name="sendmail1SoapOut">
    <wsdl:part name="parameters" element="tns:sendmail1Response" />
  </wsdl:message>
  <wsdl:message name="sendmailWithAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:sendmailWithAttachment" />
  </wsdl:message>
  <wsdl:message name="sendmailWithAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:sendmailWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="sendmail1">
      <wsdl:input message="tns:sendmail1SoapIn" />
      <wsdl:output message="tns:sendmail1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendmail">
      <wsdl:input name="sendmailWithAttachment" message="tns:sendmailWithAttachmentSoapIn" />
      <wsdl:output name="sendmailWithAttachment" message="tns:sendmailWithAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmail1">
      <soap:operation soapAction="http://tempuri.org/sendmail1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendmail">
      <soap:operation soapAction="http://tempuri.org/sendmailWithAttachment" style="document" />
      <wsdl:input name="sendmailWithAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendmailWithAttachment">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendmail1">
      <soap12:operation soapAction="http://tempuri.org/sendmail1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendmail">
      <soap12:operation soapAction="http://tempuri.org/sendmailWithAttachment" style="document" />
      <wsdl:input name="sendmailWithAttachment">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendmailWithAttachment">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://154.113.0.163:1390/mailservice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://154.113.0.163:1390/mailservice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>